@use "colors" as *;
.desktop {
  display: none;
}
.block {
  display: block;
}
/****************
        Nav
*****************/
main {
  overflow: hidden;
}
.logo {
  width: 25%;
}

nav {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5em 0 3.1em 0;
  hr {
    color: #ffffff3b;
  }
}

.nav {
  position: absolute;
  left: 1.6rem;
  top: 8rem;
  opacity: 0;
  background: $white;
  border-radius: 5px;
  width: 86%;
  text-align: center;
  transition: all 0.5s ease-in-out;
  transform: translateX(-150%);
  &.active {
    transform: translateX(0);
    opacity: 1;
  }
  .nav-item {
    margin: 1.95em 0;
  }
  .nav-link {
    font-weight: bolder;
    color: $very-dark-blue;
    display: inline-block;
    padding: 0 0.5em;
    &:hover,
    &:focus {
      color: $grayish-blue;
    }
  }
}

.nav-primary {
  .menu-main {
    position: relative;
    img {
      transition: transform 0.3s ease-in-out;
    }
    &:hover {
      img {
        transform: rotate(180deg);
      }
      .menu-sub {
        display: block;
        margin: 1.3em 0;
      }
    }
  }
  .menu-sub {
    display: none;
    position: relative;
    left: 2rem;
    background: rgb(243, 243, 243);
    border-radius: 3px;
    width: 80%;
    padding: 0.5em;
  }
  .sub-item {
    margin: 1.2em 0;
  }
  .sub-link {
    display: inline-block;
    width: 100%;
    color: $very-dark-blue;
    &:hover {
      color: $grayish-blue;
    }
  }
}

.nav-secondary {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.nav-toggle {
  cursor: pointer;

  width: 31px;
  .close-hamburger {
    display: none;
  }
  &.active {
    .hamburger {
      display: none;
    }
    .close-hamburger {
      display: block;
    }
  }
}

/****************
        Hero
*****************/

header {
  position: relative;
  background: url("../images/bg-pattern-intro.svg"),
    linear-gradient(to bottom right, $very-light-red-2, $light-red-2);
  background-repeat: no-repeat, no-repeat;
  background-position: -20rem -15rem, center center;
  background-size: 350%, 100%;
  object-fit: cover, cover;
  border-bottom-left-radius: 100px;
}

.hero {
  padding: 3.6em 0 9.5em 0;
  text-align: center;
  .hero-text {
    h1 {
      font-size: 2.1rem;
    }
    p {
      padding: 1em 2em 1.8em 1em;
      margin-bottom: 1.5rem;
    }
  }

  .hero-links {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
  }
}

/****************
        Intro
        *****************/

.intro {
  color: black;
  .intro-title {
    color: $very-dark-blue;
    padding: 5.8em 0 3em 0;
    font-size: 1.1rem;
  }
  .img-col {
    .mobile {
      transform: scale(1.1);
    }
  }

  .text-col {
    h3 {
      font-size: 1.7rem;
      color: $very-dark-blue;
      margin-top: 2.2em;
      line-height: 1.2;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.5;
      color: $very-dark-grayish-blue;
      font-weight: 300;
      margin: 1em 0 4.5em 0;
    }
  }

  //mid secion

  .intro-mid {
    position: relative;
    margin-bottom: 5rem;
    .text-col {
      h3,
      p {
        color: white;
        width: 80%;
      }
      h3 {
        font-size: 2.4rem;
        margin-top: 4.5em;
        line-height: 1.2;
      }
      p {
        font-size: 1rem;
        color: $grayish-blue;
      }

      position: absolute;
      z-index: -1;
      height: 38rem;
      top: 46%;
      background: url(../images/bg-pattern-circles.svg) no-repeat,
        $body-gradient no-repeat;
      display: flex;
      background-size: 165%, 100%;
      background-position: center 1900%, center center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0 100px 0 100px;
    }
  }

  //bottom secion
  .intro-bottom {
    margin-top: 31rem;
    .img-col {
      .mobile {
        transform: scale(1.3);
      }
    }
  }
}

/****************
        Footer
*****************/

footer {
  background: $very-dark-black-blue;
  border-radius: 0 100px 0 0;
  font-family: "Ubuntu", sans-serif;

  .footer-logo {
    display: inline-block;
    margin: 4.7rem 0;
  }

  .footer-menu {
    h4 {
      font-family: "Ubuntu", sans-serif;
      cursor: pointer;
      margin-bottom: 2em;
    }

    h4 + h4 {
      margin-top: 3em;
    }
    ul li:last-child {
      padding-bottom: 3rem;
    }
    a {
      display: inline-block;
      margin-bottom: 1em;
      color: $grayish-blue;
      &:hover,
      &focus {
        text-decoration: underline;
      }
    }
  }
}
